@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --bg-page-color: #fff1f7;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --heading-shadow-color: #ff0070;
    --heading-color: #ffc2e6;
    --text-page-color: #353430;
    --bg-decor-color: #ff8dcb;
    --text-decor-color: #353430;
    --accent-color: #353430;    
  }

  .page.theme_auto .header__decor {
    display: none;
  }  
}

.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --bg-page-color: #fff1f7;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --heading-shadow-color: #ff0070;
  --heading-color: #ffc2e6;
  --text-page-color: #353430;
  --bg-decor-color: #ff8dcb;
  --text-decor-color: #353430;
  --accent-color: #353430;    
}

.page.theme_light .header__decor {
  display: none;
}